@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.logo{
    float:left;
}
.chakra{
    margin-left: 35%;
    margin-right: 65%;
    margin-top: 2%;
    margin-bottom: 5%;
}
header>div{
    padding:10px;
}
.header{
    font-size:4em;
    padding:10px;
    font-family: 'Caveat', cursive;
}
.subheader{
    font-size:1.5em;
    color:darkgray;
    padding:0 5px;
    margin-bottom:30px;
}
.header,.subheader{
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,#562ce0,#484ee5,#3a6fea,#2d91f0,#1fb3f5,#11d4fa,#03f6ff,#03f6ff,#11d4fa,#1fb3f5,#2d91f0,#3a6fea,#484ee5,#562ce0);
    box-shadow: 10px 10px 5px lightyellow;
}

body{
    background-color: black;
    font-family: 'Indie Flower', cursive;
    }
header nav{
    background-color: white;
    margin:none;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    }
nav ul li{
    display:inline-block;
    box-shadow: 10px 10px 5px gray;
}
header nav a{
    display:block;
    padding:0 10px;
    font-size:16px;
    line-height: 40px;
    text-decoration:none;
    background-color: black;
    color:gray;
}
header nav a:hover{
    
    background-image: linear-gradient(to right,#ff0303,
    #ff2603,
    #ff4803,
    #ff6b03,
    #ff8e03,
    #ffb003,
    #ffd303,
    #ffd303,
    #ffb003,
    #ff8e03,
    #ff6b03,
    #ff4803,
    #ff2603,
    #ff0303);
    color:black;
}
.menu{
    display:none;
}

.nav{
    clear:both;
}
.main{
    clear:both;
    text-align: left;
    background-image:  linear-gradient(to right,#562ce0,
    #484ee5,
    #3a6fea,
    #2d91f0,
    #1fb3f5,
    #11d4fa,
    #03f6ff,
    #03f6ff,
    #11d4fa,
    #1fb3f5,
    #2d91f0,
    #3a6fea,
    #484ee5,
    #562ce0);;
    color:gray
    box-shadow : 10px 10px 5px gray;
}

footer{
    color:gray;
}
@media all and (max-width:990px){
    body{
        background-color: red;
    }
    nav ul li{
        display:block;
        text-align: center;
    }
    nav ul{
        width:100%;
    }
    .menu{
        display:block;
        width:100%;
        color:white;
        background-color: black;
        text-align: center;
    }
    .subheader{
        margin-bottom:0px;
    }
    .header{
        padding:0px;
    }
    .chakra{
        float: left;
        padding: 10px;
        max-width: 96%;
        margin: 2%;
    }
}
@media all and (max-width:600px){
    body{
        background-color: green;
    }
    .menu{
        display:none;
        text-align: center;
    }
    nav ul li{
        display:inline-block;
    }
    header nav a{
        background-color: black;
        color:gray;
    }
    header nav a:hover{
        
    background-image: linear-gradient(to right,#ff0303,
    #ff2603,
    #ff4803,
    #ff6b03,
    #ff8e03,
    #ffb003,
    #ffd303,
    #ffd303,
    #ffb003,
    #ff8e03,
    #ff6b03,
    #ff4803,
    #ff2603,
    #ff0303);
        color:black;
    }
}