@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.logo{
    float:left;
}

.chakra{
    margin-left: 25%;
    margin-right: 75%;
    margin-top: 3%;
    margin-bottom: 5%;
}
header>div{
    padding:10px;
}
.header{
    font-size:4em;
    padding:10px;
    font-family: 'Caveat', cursive;
}
.subheader{
    font-size:1.5em;
    color:darkgray;
    padding:0 5px;
    margin-bottom:30px;
}
.header,.subheader{
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,#040400,
    #10110f,
    #191a18,
    #202221,
    #282b2a,
    #313333,
    #3a3c3c,
    #434546,
    #4c4f4f,
    #565859,
    #565859,
    #4c4f4f,
    #434546,
    #3a3c3c,
    #313333,
    #282b2a,
    #202221,
    #191a18,
    #10110f,
    #040400);
    box-shadow: 10px 10px 5px gray;
}

body{
    background-color: black;
    font-family: 'Indie Flower', cursive;
    }
header nav{
    background-color: white;
    margin:none;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    }
nav ul li{
    display:inline-block;
}
header nav a{
    display:block;
    padding:0 10px;
    font-size:16px;
    line-height: 40px;
    text-decoration:none;
    background-color: darkgray;
    color:black;
}
header nav a:hover{
    
    background-image:  linear-gradient(to right,#562ce0,
    #484ee5,
    #3a6fea,
    #2d91f0,
    #1fb3f5,
    #11d4fa,
    #03f6ff,
    #03f6ff,
    #11d4fa,
    #1fb3f5,
    #2d91f0,
    #3a6fea,
    #484ee5,
    #562ce0);
    color:black;
    
    box-shadow: 10px 10px 5px black;
}
.menu{
    display:none;
}

.nav{
    clear:both;
}
.main{
    clear:both;
    text-align: left;
    background-image: linear-gradient(to right,#040400,
    #10110f,
    #191a18,
    #202221,
    #282b2a,
    #313333,
    #3a3c3c,
    #434546,
    #4c4f4f,
    #565859,
    #565859,
    #4c4f4f,
    #434546,
    #3a3c3c,
    #313333,
    #282b2a,
    #202221,
    #191a18,
    #10110f,
    #040400);
    color:gray;
    box-shadow : 10px 10px 5px gray;
}

footer{
    color:gray;
}
@media all and (max-width:990px){
    body{
        background-color: black;
    }
    nav ul li{
        display:block;
        text-align: center;
    }
    nav ul{
        width:100%;
    }
    .menu{
        display:block;
        width:100%;
        color:white;
        background-color: black;
        text-align: center;
    }
    .subheader{
        margin-bottom:0px;
    }
    .header{
        padding:0px;
    }
    .chakra{
        float: left;
        padding: 10px;
        max-width: 96%;
        margin: 2%;
    }
    .main{
        float:left;
        text-align: left;
        width:100%;
    }
}
@media all and (max-width:600px){
    body{
        background-color: black;
    }
    .menu{
        display:none;
        text-align: left;
    }
    nav ul li{
        display:inline-block;
    }
    header nav a{
        background-color: gray;
        color:black;
    }
    header nav a:hover{
        
    background-image:  linear-gradient(to right,#562ce0,
    #484ee5,
    #3a6fea,
    #2d91f0,
    #1fb3f5,
    #11d4fa,
    #03f6ff,
    #03f6ff,
    #11d4fa,
    #1fb3f5,
    #2d91f0,
    #3a6fea,
    #484ee5,
    #562ce0);
        color:black;
    }
}