@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.logo{
    float:left;
}
header>div{
    padding:10px;
}
.header{
    font-size:4em;
    padding:10px;
    font-family: 'Caveat', cursive;
}
.subheader{
    font-size:1.5em;
    color:darkgray;
    padding:0 5px;
    margin-bottom:30px;
}
.header,.subheader{
    text-align:center;
    background-color: gray;
}

body{
    background-color: violet;
    font-family: 'Indie Flower', cursive;
    }
header nav{
    background-color: white;
    margin:none;
}
header nav ul{
    list-style:none;
    padding:0;
    margin:0;
    position:relative;
    float:left;
}
nav ul li{
    display:inline-block;
    background-color: #ddd;
}
header nav a{
    display:block;
    padding:0 10px;
    font-size:16px;
    line-height: 40px;
    text-decoration:none;
    background-color: black;
    color:gray;
}
header nav a:hover{
    background-color: red;
    color:white;
}
.menu{
    display:none;
}
.nav{
    clear:both;
}
.main{
    clear:both;
    background-color: violet;
}

footer{
    background-color: darkorchid;
}
@media all and (max-width:740px){
    body{
        background-color: red;
    }
    nav ul li{
        display:block;
        text-align: center;
    }
    nav ul{
        width: 100%;
    }
    .menu{
        display:block;
        width:100%;
        color:white;
        background-color: black;
        text-align: center;
    }
    .subheader{
        margin-bottom:0px;
    }
    .header{
        padding:0px;
    }
}
